@using TravelBlog.Web.ViewModels
@model IEnumerable<PostViewModel>
    
@{
    ViewBag.Title = "Travel ideas";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>
<div class="d-grid gap-2 mb-2">
</div>


@if (Model.Count()>0)
{
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">@post.Title</h4>
                        <img src=@post.ImageUrl class="img-fluid" />
                        <p class="card-text">@post.Content</p>
                        <div class="d-grid gap-2">
                            <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary">Details</a>
                        </div>
                        </div>
                </div>
             </div>
            }
    </div>
}
else
{
    <p class="text-center">No posts yet!</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}